files:
  /home/ec2-user/install-docker-compose.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      "#!/bin/sh"
      sudo curl -L https://github.com/docker/compose/releases/download/1.21.0/docker-compose-`uname -s`-`uname -m` | sudo tee /usr/local/bin/docker-compose > /dev/null
      sudo chmod +x /usr/local/bin/docker-compose
      sudo ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose
      sudo usermod -aG docker ec2-user

commands:
  01-install-docker-compose:
    command: ./install-docker-compose.sh
    cwd: /home/ec2-user
  02-remove-install-docker-compose-script:
    command: rm install-docker-compose.sh
    cwd: /home/ec2-user