files:
  /home/ec2-user/setup-ec2.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      "#!/bin/bash"

      # install cloudwatch agent
      sudo yum install amazon-cloudwatch-agent

      # set permissions on docker to ec2-user
      sudo usermod -aG docker ec2-user

  /home/ec2-user/get-config-resources.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      
      # get cloudwatch agent config from s3
      aws s3 cp s3://atomicoconut/infrastructure/config-files.zip config-files.zip
      unzip config-files.zip
      rm config-files.zip

      # make a database bkp dir
      mkdir db-bkp

      # create a file to store db backup current counter
      echo 1 >> current_bkp_counter


commands:
  01-setup-ec2:
    command: ./setup-ec2.sh
    cwd: /home/ec2-user
  02-remove-setup-ec2-script:
    command: rm setup-ec2.sh
    cwd: /home/ec2-user
  03-get-config-resources:
    command: sudo -H -u ec2-user bash -c './get-config-resources.sh'
    cwd: /home/ec2-user
  04-remove-get-config-resources-script:
    command: sudo -H -u ec2-user bash -c 'rm get-config-resources.sh'
    cwd: /home/ec2-user