files:
  /home/ec2-user/setup-ec2.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      "#!/bin/bash"
      
      sudo usermod -aG docker ec2-user

commands:
  01-setup-ec2:
    command: ./setup-ec2.sh
    cwd: /home/ec2-user
  02-remove-setup-ec2-script:
    command: rm setup-ec2.sh
    cwd: /home/ec2-user