files:
  /home/ec2-user/retrieve-letsencrypt-and-certbot-config.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash

      aws s3 cp s3://atomicoconut/infrastructure/conf-certbot.zip conf-certbot.zip
      sudo rm -rf conf www
      unzip conf-certbot.zip
      rm conf-certbot.zip


commands:
  01-retrieve-letsencrypt-and-certbot-config:
    # run commands as ec2-user instead of root (default)
    command: sudo -H -u ec2-user bash -c './retrieve-letsencrypt-and-certbot-config.sh'
    cwd: /home/ec2-user
  02-remove-retrieve-letsencrypt-and-certbot-config-script:
    command: sudo -H -u ec2-user bash -c 'rm retrieve-letsencrypt-and-certbot-config.sh'
    cwd: /home/ec2-user
  