files:
  /home/ec2-user/install-cloudwatch-agent.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      
      # install cloudwatch agent
      wget https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm
      sudo rpm -U ./amazon-cloudwatch-agent.rpm
      rm ./amazon-cloudwatch-agent.rpm
      
      # get cloudwatch agent config from s3
      aws s3 cp s3://atomicoconut/infrastructure/config-files.zip config-files.zip
      unzip config-files.zip
      rm config-files.zip

  /home/ec2-user/setup-cloudwatch-agent.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash

      echo "Setting up Unified CloudWatch Agent..."

      FILE_DIR="/home/ec2-user"
      FILE="$FILE_DIR/cloudWatchAgentConfig-updated.json"     
      if [ -f $FILE ]; then
        echo "$FILE removed."
        rm $FILE
      else
        echo "File $FILE does not exist."
      fi

      cp $FILE_DIR/cloudWatchAgentConfig.json $FILE

      SERVER_CONTAINER_ID=$(docker ps | grep atomic-coconut-server | awk '{print $1}')
      if [[ -z "$SERVER_CONTAINER_ID" ]]; then 
        echo "ERROR: aCo server container not found."
        exit 1; 
      fi
      echo "aCo server container id: $SERVER_CONTAINER_ID"

      ENVIRONMENT_TYPE=$(sudo /opt/elasticbeanstalk/bin/get-config environment | jq .ENVIRONMENT_TYPE | tr -d '"')
      if [[ -z "$ENVIRONMENT_TYPE" ]]; then ENVIRONMENT_TYPE=production; fi
      echo "Environment type: $ENVIRONMENT_TYPE"

      sed -i "s?server-CONTAINER_ID-stdouterr?server-$SERVER_CONTAINER_ID-stdouterr?" $FILE
      sed -i "s?aco-ENVIRONMENT_TYPE?aco-$ENVIRONMENT_TYPE?" $FILE
      echo

      echo "Setup cloudWatch agent..."
      if [ ! -f /usr/share/collectd/types.db ]; then
        echo "Created file: /usr/share/collectd/types.db required by CloudWatch Agent."
        sudo mkdir -p /usr/share/collectd
        sudo touch /usr/share/collectd/types.db
      fi
      sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:$FILE -s

      echo "CloudWatch Agent setup done."


commands:
  01-install-cloudwatch-agent:
    command: sudo -H -u ec2-user bash -c './install-cloudwatch-agent.sh'
    cwd: /home/ec2-user
  02-remove-install-cloudwatch-agent-script:
    command: sudo -H -u ec2-user bash -c 'rm install-cloudwatch-agent.sh'
    cwd: /home/ec2-user
  03-setup-cloudwatch-agent:
    command: mv ./setup-cloudwatch-agent.sh /opt/elasticbeanstalk/hooks/appdeploy/post/10-setup-cloudwatch-agent.sh
    cwd: /home/ec2-user