files:
  /home/ec2-user/retrieve-https-certs-from-bkp.sh:
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      
      # check if certificates retrieval was requested from elasticbeanstalk env vars
      DEPLOY_HTTPS_CERTS_FROM_BKP=$(sudo /opt/elasticbeanstalk/bin/get-config environment | jq .DEPLOY_HTTPS_CERTS_FROM_BKP | tr -d '"')
      if [[ "$DEPLOY_HTTPS_CERTS_FROM_BKP" == "false"  ]]; then
        echo "DEPLOY_HTTPS_CERTS_FROM_BKP is false, exiting this script without retrieve any backup from S3."
        exit 0;
      fi

      echo "DEPLOY_HTTPS_CERTS_FROM_BKP is true, will try to get the latest certificates backup from S3..."
      echo

      # get environment type config from elasticbeanstalk env vars
      ENVIRONMENT_TYPE=$(sudo /opt/elasticbeanstalk/bin/get-config environment | jq .ENVIRONMENT_TYPE | tr -d '"')
      
      # get latest certificates from s3
      if [[ -z "$ENVIRONMENT_TYPE" ]]; then
        ./retrieve-letsencrypt-from-s3-bkp.sh "" latest
      else
        ./retrieve-letsencrypt-from-s3-bkp.sh $ENVIRONMENT_TYPE latest
      fi


commands:
  01-retrieve-https-certs-from-bkp:
    command: sudo -H -u ec2-user bash -c './retrieve-https-certs-from-bkp.sh'
    cwd: /home/ec2-user
  02-remove-retrieve-https-certs-from-bkp-script:
    command: sudo -H -u ec2-user bash -c 'rm retrieve-https-certs-from-bkp.sh'
    cwd: /home/ec2-user
    